<ul>
    <% @users.each do |user| %> 
        <li class="user_container">
                <div class="user_img">
                <img src=<%= user.photo %> alt="profile pic">
                </div>
                <div class="user_content">
                <h2><%= link_to user.name, user_path(user.id) %></h2>

                    <p>Number of posts: <%= user.posts_counter %></p>
                </div>
        </li>
    <% end %>
</ul>
